name: CI

on:
  workflow_dispatch:
  push:
    branches:
      - master
      - main
      - verdd
      - 'cit/**'
      - 'ci/**'

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: Coursier cache
        uses: coursier/cache-action@v6
      - uses: actions/setup-java@v2
        with:
          java-version: 8
          distribution: temurin
      - name: Run unit tests in the key projects
        run: sbt -v test "tpcbench-run / test" "tracing / test"
